<div class="publications">
  <h3 class="thread-heading">Self-Improving Agents in the Real World</h3>
  {% bibliography --group_by none --query @*[thread=application]* %}
  <h3 class="thread-heading">Learning Machinery for Self-Improvement</h3>
  {% bibliography --group_by none --query @*[thread=machinery]* %}
</div>
